beautifulsoup4>=4.9.0
click>=7.1.2
cssselect>=1.1.0
fake_useragent>=0.1.11
feedfinder2>=0.0.4
feedparser>=5.2.1
jieba3k>=0.35.1
lxml>=4.5.0
nltk>=3.5
pandas>=1.0.3
pdftotext>=2.1.4
Pillow>=7.1.2
python-dotenv>=0.13.0
pytest>=5.4.2
pythainlp>=2.1.4
python-dateutil>=2.8.1
PyPDF4>=1.27.0
PyYAML>=5.3.1
requests>=2.23.0
requests_toolbelt>=0.9.1
selenium>=3.141.0
tldextract>=2.2.2
tinysegmenter==0.4




